// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples


@import "../reindeer/reindeer.scss";

@mixin sige {
  @include reindeer;
}
/////fsffdsfsgfdtdgfd

.v-verticallayout-pieLogin {
	background-color: #087DDC !important;
	color: #FFFFFF !important;
}

.v-label-mensajeinfo {
	color: #FF0000 !important;
}

.v-label-errorLogueo {
	color: red !important;
}

.v-textfield-detalleTupa {
	border: solid !important;
	border-radius: 2em !important;
}

.v-textfield {
	text-transform: uppercase !important;
}

.v-disabled {
	opacity: 1 !important;
	cursor: no-drop !important;
}

.v-button-buscar .v-button-wrap {
	padding: 4px 15px 0px 0px !important;
}

.v-button.v-disabled {
	cursor: default !important;
	opacity: 0.5 !important;
}

.v-table-grupos .v-table-header-wrap {
	display: none !important;
}

.v-table-body-noselection-buscar .v-table-row, .v-table-body-noselection .v-table-row-odd
	{
	background-color: white !important;
}

.v-table-grupos .v-table-table .v-treetable-treespacer {
	display: none !important;
}

.v-table-grupos .v-table-cell-wrapper {
	padding: 0px !important;
}

.v-menubar {
	background: #087DDC !important;
}

.v-menubar-submenu .v-menubar-submenu-indicator {
	background: url("menubar/img/submenu-icon-hover.png") no-repeat scroll
		right 0% transparent !important;
}

.v-menubar-submenu {
	background: #087DDC !important;
}

.v-menubar-menuitem-caption {
	color: #FFFFFF !important;
}

.v-menubar .v-menubar-menuitem-selected, .v-menubar-submenu .v-menubar-menuitem-selected
	{
	background: #009FFF !important;
}

.v-tooltip-text {
	background-color: #009FFF !important;
	color: white !important;
	border: 0.5px solid white !important;
}

 

.v-textarea {
	text-transform: uppercase !important;
}

.v-datefield-textfield {
	pointer-events: none !important;
}
.v-select-optiongroup-horizontal .v-select-option {
    display: inline-block !important;
}

.v-select-optiongroup-horizontal {
    white-space: nowrap !important;
}

.v-select-optiongroup-horizontal
  .v-select-option.v-radiobutton {
    padding-right: 10px !important;
}
@mixin alpha-background-color($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  background-color: $solid-color;
  background-color: $color;
}

.v-loading-indicator, .v-loading-indicator-delay, .v-loading-indicator-wait {
    position: absolute;
    top: 0;
    left: 0;
     width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

 	z-index: 30000;
	 @include alpha-background-color(rgba(black, 0.5), #999999);
    background-repeat: no-repeat;
    background-position: 50%;
   

    cursor: wait;
}

//.v-loading-indicator {
  //    background-image: url("./images/botones/cargando2.gif") !important;
//}

//.v-loading-indicator-delay{
  //  background-image: url("./images/botones/cargando2.gif") !important;
//}

//.v-loading-indicator-wait {
  //  background-image: url("./images/botones/cargando2.gif") !important;
//}
.gwt-Button{
	font-size: 9px !important;
}
.gwt-Label {
	color: red !important;
}


